@charset "windows-1252";

body { position: relative; padding: 0px; font-family: Montserrat, arial, helvetica, sans-serif; width: 100%; margin: 0px auto; background-color: rgb(255, 255, 255); }

.ncua { font-size: 13px; color: rgb(51, 51, 51); }

.ncua * { vertical-align: middle; }

.ncua img { width: 64px; padding-right: 5px; }

div.sections { height: 35px; font-size: 80%; margin-top: 10px; margin-left: 8px; margin-right: 8px; background-color: rgb(68, 68, 68); background-image: url("/efs/images/header-sections-background.png"); background-repeat: repeat-x; }

ul.sections { float: left; display: block; margin: 0px; padding: 0px; }

ul.sections li { float: left; font-weight: bold; font-size: 0.85em; white-space: nowrap; list-style: none; }

ul.sections li a { border-left: 1px solid rgb(153, 153, 153); height: 25px; display: block; padding: 10px 12px 0px; color: rgb(255, 255, 255); text-decoration: none; }

ul.sections li:first-child a { border-width: 0px; }

#pgHead a#logo { background-color: transparent; border: none; padding: 0px; }

#loginBox .login-header { background-repeat: no-repeat; background-position: right 6px; }

#loginBox { background-color: rgb(29, 110, 205); border-radius: 7px; }

#loginBox { width: 398px; margin: 0px; padding: 2px; }

* html #loginBox { width: 416px; }

* html #loginBox { width: 398px; }

h1 { font-size: 1.3em; }

#loginBox h1 { margin: 0.25em; }

#SafeLogin_Cage { margin-left: 3px; }

td.login { width: 410px; }

h1.help { margin-top: 0px; }

ul.help, h1.help, div.help { margin-left: 0px; padding-left: 0px; }

ul.help { list-style-image: url("arrow_right.png"); }

ul.help li { margin-left: 20px; padding-left: 0px; }

h2 { font-size: 1em; }

a { color: rgb(0, 28, 113); cursor: pointer; font-weight: bold; }

#pgMain a:link, #pgMain a:visited { color: rgb(0, 28, 113); text-decoration: none; }

#pgMain a:hover { text-decoration: underline; }

.help .notes { display: none; margin: 0.5em 0px; font-size: 0.95em; }

div p { margin: 0.5em 0.25em 0px 0px; }

#loginBox table { width: 100%; }

#loginBox > div, #loginBox > form > div { background-color: rgb(240, 240, 240); border-radius: 5px; padding-top: 5px; padding-bottom: 5px; margin: 1px 1px 4px; color: black; }

#loginBox div.last { margin-bottom: 1px; }

#loginBox p { margin: 0.5em 5px; }

#pgHead { background: transparent; width: 752px; margin-left: auto; margin-right: auto; height: 0px; }

#pgHead a:link, #pgHead a:visited { line-height: 1em; }

#header { border-top: none; margin-top: 0px; float: left; width: 100%; background: center top repeat-x scroll rgb(247, 245, 244); }

#topBar { width: 768px; max-width: 100%; margin: 20px auto; }

#topBar p { margin: 0px; padding-right: 10px; line-height: 45px; text-align: right; }

#topBar a { color: rgb(0, 28, 113); text-decoration: none; }

#topBar a:visited { color: rgb(0, 28, 113); }

#logo { padding: 0px 0px 0px 6px; float: left; }

img { border: none; outline: none; }

#pgMain { margin-top: 0px; }

#mainContent, #footer { clear: both; width: 768px; margin: 0px auto; }

#mainContent { padding-top: 2em; }

#pgFooter { position: relative; clear: both; margin-left: -4px; margin-right: -4px; padding-top: 20px; padding-bottom: 20px; color: rgb(84, 84, 84); background-color: rgb(247, 245, 244); }

.table { display: table; width: 100%; }

.tr { display: table-row; }

.left { display: table-cell; text-align: left; }

.right { display: table-cell; }

.fieldLabel { font-weight: bold; width: 4.5em; display: inline-block; text-align: right; padding-right: 0.2em; }

.error { font-weight: bold; color: rgb(187, 0, 0); }

#pgHead #logo { background: transparent; border: none; }

.leftCol { padding: 0px 0px 0px 24px; background: url("pgMainEdge.png") 8px 0px repeat-y; width: 480px; float: left; margin-bottom: 2em; }

.leftCol h2::before { top: 50%; content: ""; position: absolute; height: 9px; width: 9px; left: 2px; margin-top: -5px; background-color: rgb(153, 61, 187); }

.leftCol h2 { position: relative; margin: 0.5em 0px auto -22px; padding-left: 22px; line-height: 1.5em; }

h2 { font-size: 1.4em; font-weight: bold; color: rgb(0, 28, 113); }

h3 { font-weight: bold; color: rgb(0, 73, 144); }

.sideBar { width: 250px; float: left; }

.hint { font-size: 0.85em; color: rgb(102, 102, 102); }

@media only screen and (max-width: 767px) {
  .leftCol { float: none; background: none; padding: 0px; }
  .sideBar { float: none; }
}

@media only screen and (max-width: 479px) {
  .leftCol { width: 100%; }
}

.learnMore:first-child { margin-top: 0px; }

.learnMore { margin: 10px 5px; padding: 0px; overflow: hidden; background-color: rgb(241, 239, 237); box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 2px; }

.learnMore h2 { line-height: 32px; margin: 0px; padding: 0px 8px; font-size: 1.2em; color: rgb(255, 255, 255); background: rgb(0, 28, 113); font-weight: normal; }

.learnMore ul, .learnMore li { margin: 0.5em 0px; }

.learnMore a { color: rgb(0, 28, 113) !important; }

.learnMore li { margin-left: 30px !important; }

.learnMore p { margin: 0.5em 0px 0.5em 8px; padding: 0px; }

.dataForm { width: 100%; border-collapse: collapse; margin-bottom: 1em; font-size: 1em; margin-top: 1em; }

.dataForm caption { border-top: 1px solid gray; background-color: rgb(240, 240, 240); font-weight: bold; text-align: left; padding: 6px; }

.dataForm tbody tr:first-child td { border-top: 1px solid gray; }

.dataForm td, .dataForm th { padding: 6px; vertical-align: top; text-align: left; border-top: 1px solid gray; border-bottom: 1px solid gray; }

.dataForm thead td { border-top: 1px solid gray; border-bottom: 1px solid black; background-color: rgb(244, 244, 244); font-weight: bold; }

.dataForm tbody th { width: 40%; background-color: rgb(238, 238, 238); font-weight: normal; text-align: right; }

.dataForm tbody td { border-left: 1px solid gray; }

.dataForm tbody td:first-child { border-left-width: 0px; }

.dataForm tfoot { font-size: 0.85em; color: rgb(102, 102, 102); padding: 0.5em; }

.dataForm tfoot p { margin: 0.5em 0px 0px; }

.dataForm .footnotes { margin: 3px 5px; font-size: 0.85em; }

.dataForm input { text-align: left; }

.dataForm input[type="text"] { box-sizing: border-box; min-width: 30%; }

.dataForm input[type="submit"] { border-width: 0px; border-radius: 2px; background-color: rgb(63, 119, 192); color: white; font: 100% / 1.4 pt_sans_narrowregular, arial, helvetica, sans-serif; }

.dataForm input[type="submit"]:hover { background-color: rgb(52, 93, 143); }

.dataForm input[type="radio"] { outline: none; }

.dataForm div[role="radiogroup"] { margin-bottom: -6px; }

.dataForm div[role="radiogroup"] label { display: inline-block; box-sizing: border-box; min-width: 30%; margin: 0px 5px 6px 0px; border: 1px solid rgb(204, 204, 204); border-radius: 3px; padding: 0px 5px 0px 0px; background-color: rgb(238, 238, 238); }

.dataForm div[role="radiogroup"] label:hover { background-color: rgb(204, 204, 204); color: rgb(0, 0, 102); }

.dataForm div[role="radiogroup"] label.radioSelected { background-color: rgb(204, 204, 204); color: rgb(0, 0, 102); }

.dataForm div[role="radiogroup"].stack { float: left; }

.dataForm div[role="radiogroup"].stack label { float: left; clear: left; }

.copyright { font-weight: bold; }

.button50, .button100 { background-color: rgb(255, 183, 27); color: rgb(0, 28, 113); font-weight: bold; font-size: 9px; font-family: Montserrat, arial, helvetica, sans-serif; border: 1px solid rgb(255, 183, 27); padding: 0.75em 1em; border-radius: 2px; }

.button50:disabled, .button100:disabled { color: rgb(186, 141, 49); }

@media (max-width: 479px) {
  .dataForm div[role="radiogroup"] label { display: block; margin-right: 0px; float: none; }
  .dataForm { border-bottom: 1px solid gray; }
  .dataForm tbody th { display: block; box-sizing: border-box; width: 100%; margin-top: 3px; border-width: 1px 0px 0px; border-top-style: solid; border-top-color: gray; padding: 3px 6px 0px; background-color: rgb(255, 255, 255); text-align: left; color: rgb(0, 73, 144); }
  .dataForm tbody td { display: block; border-width: 0px; padding-top: 0px; }
  .dataForm tbody tr:first-child td { border-top: none; }
}
